


*{
  margin: 0;
  padding: 0;
}

.aboutouterdiv{
  background-color: #dadada;
  margin-top: 50px;
  height: 100vh;
  /* width: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutinnerdiv{
  margin: 20px;
  background-color: #dadada;
  width: 500px;
  height: 80vh;
  border-radius: 12px;
  overflow: hidden;

}

.abouttext{
  display: flex;
   text-align: justify; 
   color: black;
}

