


*{
  margin: 0;
  padding: 0;
}

.aboutouterdiv{
  background-color: #000000;
  height: 100vh;
  /* width: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutinnerdiv{
  margin: 20px;
  background-color: rgb(0, 0, 0);
  width: 500px;
  height: 80vh;
  border-radius: 12px;
  

}

.abouttext{
  display: flex;
   text-align: justify; 
   color: white;
}

