/* 
 <div id="contactouter">
        <div id="contatinner">
          <h3>Enter Details </h3>
          <form action="">
            <input type="text" placeholder="Enter Your Name " />
            <input type="text" placeholder="Enter Your Age " />
            <input type="text" placeholder=" Phone Number " />
            <input type="text" placeholder="Email Address " />
            <textarea name="" id="" placeholder='Describe Yourself '></textarea>
          </form>
          
        </div>
      </div> */


      *{
        padding: 0;
        margin: 0;
      }

      #contactouter{
        margin-top: 50px;
        height: 600px;
        width: 100vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

      }
      
#contatinner{
  height: 500px;
width: 350px;
background-color:rgba(255, 72, 0, 0.568);
border-radius: 12px;
display: flex;
/* border: 2px solid black; */
}

@media (max-width:450px){
 #contatinner{
  width: 70vw;
 }
}




#contatinner textarea{
  background-color: white;
  width: 100%;
  height: 100px;
  
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: ; */
  
}


#submitbutton{
  width: 100px;
  height: 30px;
  /* border-radius: 10px; */
  background-color: rgba(255, 208, 0, 0.534);
  border:2px solid coral;
  border-radius: 12px;
}

.forminput{
  width: 100%;
  background-color: white;
  height: 40px;
  border: 1px solid #dadada;

}