/* 
 <div id="contactouter">
        <div id="contatinner">
          <h3>Enter Details </h3>
          <form action="">
            <input type="text" placeholder="Enter Your Name " />
            <input type="text" placeholder="Enter Your Age " />
            <input type="text" placeholder=" Phone Number " />
            <input type="text" placeholder="Email Address " />
            <textarea name="" id="" placeholder='Describe Yourself '></textarea>
          </form>
          
        </div>
      </div> */


      *{
        padding: 0;
        margin: 0;
      }

      #contactouter{
        height: 600px;
        width: 100vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

      }
#contatinner{
  height: 500px;
width: 50vw;
background-color: #dadada;
border-radius: 12px;
display: flex;
}


#contatinner textarea{
  background-color: white;
  width: 80%;
  height: 100px;
  border: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button{
  width: 100px;
  height: 30px;
  /* border-radius: 10px; */
  background-color: rgba(255, 208, 0, 0.534);
}
