
*{
  padding: 0;
  margin: 0;
  
}

#signupform input{
  background-color: white;
  border-radius: 12px;
  width: 100%;

}

#signupbiggerform{
width: 100vw;
background-color: white;
display: flex;
justify-content: center;
flex-direction: column;
box-shadow:inset;
}


#signupform{
  height: 400px;
  width: 230px;
  background-color: #dadada;
  display: flex;
  border: 1px solid #dadada;
  border-radius: 12px;
}



#signupform button{
  border: 2px solid green;
  border-radius: 12px;
  min-width:80px ;
  height: 30px;
  overflow: hidden;
  background-color: rgba(255, 255, 0, 0.329);
}