
*{
  padding: 0;
  margin: 0;
}
.outer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #dadada;
}
 

.grid {
  width: 90vw;
  min-height: 400px;
  background-color:#dadada;

  display: grid; 

  /* MAGIC LINE */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 50px;

  justify-items: center;   /* card apne cell ke center me */
  align-items: start;

  padding: 80px;
}

@media( max-width:500px){

  .grid{
    gap: 50px;
    padding: 1px;
    width: 100vw;
  }



  
}