

*{
  padding: 0;
  margin: 0;
}

* {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

footer{
  width: 100vw;
  height: 300px;
  background-color: rgb(164, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}


.footer-text-wrapper {
  max-width: 500px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(90, 30, 30);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-text {
  margin: 6px 0;
  font-size: 18px;
  color: white;
}
#followus{
  height: 100px;
  width: 30vw;
  text-align: center;
  background-color: rgb(131, 50, 50);
 display: flex;
 justify-content: center;
 justify-content: space-evenly;
 /* align-items: center; */
}


@media( max-width:600px){
#followus{
  width: 80vw;
}

}


@media( max-width:500px){
#followus{
  width: 100vw;
}
}
.followus{
  color: rgb(205, 181, 181);
  font-size: 20px;
  
  
  
}
#center{
  width: 100vw;
  background-color: rgb(205, 136, 136);
  display: flex;
  justify-content: center;
}






#followheading{
  background-color: rgb(129, 78, 78);
  width: 100vw;
  color: white;
  text-align: center;
  height: 50px;
}




















































































































































@media (max-width:950px) {
  
  #footer{
    width:70vw;
  }
}

@media(max-width:600px){

  #contact{
    font-size: 20px;
  }

  #contactchild{
    font-size: 20px;
    background-color: red;
    color: red;
  }

#Linkedinproduct {
  height: 30px;
  width: 30px;
  background-color: rgb(169, 38, 38);
  display: flex;
  justify-content:center ;

}

}

#lastspace{
  height: 100px;
  width: 100vw;
  background-color: rgb(187, 39, 39);
}