

*{
  padding: 0;
  margin: 0;
}


#homepagedesign{
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepagedesignleft{
  margin-top: 50px;
  height:  600px;
 width: 50vw ;
  background-color:white;
display: flex;
justify-content: center;
align-items: center;
}

#homepagedesignleftinnerpage{
  min-height: 300px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-size: 200%;
 overflow: hidden;
  font-weight: 500;
  color: rgb(103, 72, 37);
  display: flex;
  /* justify-content: center; */
  text-align: justify;

}



#homepagedesignright{
 
  margin-top: 50px;
 height:  600px;
 width: 50vw ;
  background-color: white;
  border: none;
  
}


  
#imgwoman{
  height: 100%;
  width: 100%;
 object-fit:cover;
}





#homepageimagebox{
  width: 100%;
   height:600px;
   border: none;

}

#imgwoman{
  height: 550px;
  width: 320px;
 object-fit:cover;
 border-radius: 0;
 border: none;
}


