

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* 
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
} */


#homebargarkikahani{
  display: none;
/* 
  height: 80px;
  width: 100px;
 background-color: red;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 font-size: 20px;
  */
}



#cover{
  width: 30vw;
  height: 100%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#uppernavcontroller{
 max-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border-bottom:2px solid #dadada;
  overflow: hidden;
}
 input{
  background-color: rgb(255, 255, 255);
  width: 28vw;
  height: 35px;
  color: rgb(0, 0, 0);
  /* border-rad: 15px; */
  border-left: 2px solid #c6aaaa;
  border-bottom: 2px solid #c6aaaa;
  border-top: 2px solid #c6aaaa;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  
}
#button{
  height:30px ;
  width: 30px;
  border-radius: 15px;
  border: none;
  border-top-right-radius: 15px;
} 
/* button{
  height: 20px;
  
  object-fit: cover;
 } */
img{
  width: 100%;
  height: 100%;
  border-top: 2px  solid #c6aaaa;
   border-right: 2px  solid #c6aaaa;
    border-bottom: 2px  solid #c6aaaa;
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
}
input:focus {
  outline: none;
}

#buttonsearch{
height: 35px;
width: 50px;
  object-fit: contain;
  border: none;
  overflow: hidden;
  background-color: transparent;
}

#searchimg{
width: 100%;
  height: 100%;
  object-fit: cover;

}
#uppernav{
  /* width: 70vw; */
width:30%;
height:50px;
display: flex;
justify-content: flex-end;
align-items: center;
background-color:white;
font-size: 55px;
/* gap: 45px; */
}

#loginid{
 min-height: 40px;
 min-width: 40px;
  background-color:white;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  overflow: hidden;


}
#form{
 min-width: 50;
  font-size: 15px;
  margin: 4px;
  background-color:white;
  overflow: hidden;
  
}
@media (max-width:950px){
  #uppernav{
    min-width: 30%;
    background-color: white;
  }

    #uppernavcontroller{
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
#uppernav{
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
width: 40%;
}

}

a{
  text-decoration: none;
  
  font-size:50% ;
}

#four{
  margin-right: 2%;
}

#img{
  background-color:rgba(255, 127, 80, 0.852) ;
}

@media (min-width:800px){
  #uppernavcontroller{
    display:flex;
    justify-content: center;
  }

  #uppernav{
    width: 40%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #cover{
    width: 50%;
  }

}


@media(max-width:800px){
  #loginid{
    display: none;
  }
  #uppernavcontroller {
      display: flex;
      justify-content: center;
      justify-content: space-around;
    }
   #uppernav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
font-size: 42px;
width: 50%;
   }

#cover{
  width: 50%;
}
input{
  width: 70%;
}


}




#threedot{
display: none;
}


@media (max-width:650px){
  #loginid{
    display: none;
  }
  #uppernav{
    width: 50%;
    background-color: white;
    gap:2px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
    
  
  }
  #cover{
    width: 50%;
  }


}
@media(max-width:550px){


#homebargarkikahani {
  height: 120px;
  width: 95%;
  background-color:white;

  display: flex;
  flex-direction: column;

  align-items: center;
  
  align-items: flex-end;

  font-size: 25px;
  margin-right: 20px;
}
#homebargarkikahani a {
  color: rgb(168, 60, 60);
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
}



  
 #uppernav{

display: none;
 }
/* 
 #threedot{
  display: block;
  background-color: rgb(0, 0, 0);
  color :  white;
  
 overflow: hidden;
  height: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
 }
 #threedot span{
  background-color: red;
  width: 100%;
  
 }
 
#threedot:hover {
  
  box-shadow: 5px 5px 15px rgb(236, 122, 30);

  
  box-shadow:
    5px 5px 15px rgb(239, 123, 7),
    -5px -5px 15px rgb(235, 223, 9);
  top: 70px
} */

#threedot {
  width: 40px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color:white;
  
  cursor: pointer;

  padding: 5px;
}

/* 3 horizontal lines */
#threedot span {
  width: 100%;
  height: 3px;
  background-color: rgb(230, 111, 26);
  border-radius: 2px;
  overflow: hidden;
}

/* Hover effect */
#threedot span:hover, #threedot:hover {
  /* background-color: yellow; */
  border: 0px solid yellow;
  /* background-color: yellow; */
  box-shadow:
    5px 5px 15px rgb(239, 123, 10),
    -5px -5px 15px rgb(235, 223, 10);
}
.classgreen{

}



a{
  /* font-size: 55%; */
}

#cover {
  width: 60%;
  /* background-color: red; */
}
input{
  width: 80%;
}


}


@media(max-width:400px) {
  #uppernav {
    /* font-size: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 5px; */
    display: none;
  }
  
  a {
    /* font-size: 70%; */
    /* display: none; */
  }
  
}

.search-container{
  width: 100vw;
  min-height: 400px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.search-card {

height:380px;
width:  250px;
overflow: hidden;
border-radius: 12px;
background-color: #dadada;
/* display: flex; */
margin-top: 50px;


}

.search-img{
height: 280px;
width: 300px;

object-fit: cover;

}


