

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* 
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
} */


#cover{
  width: 30vw;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#uppernavcontroller{
 max-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  align-items: center;
}
 input{
  background-color: rgb(255, 255, 255);
  width: 28vw;
  height: 35px;
  color: rgb(0, 0, 0);
  /* border-rad: 15px; */
  border: none;

  
}
#button{
  height:30px ;
  width: 30px;
  border-radius: 15px;
  border: none;
  border-top-right-radius: 15px;
} 
/* button{
  height: 20px;
  
  object-fit: cover;
 } */
img{
  width: 100%;
  height: 100%;
}
input:focus {
  outline: none;
}

#buttonsearch{
height: 35px;
width: 50px;
  object-fit: contain;
  border: none;
  overflow: hidden;
  background-color: transparent;
}

#searchimg{
width: 100%;
  height: 100%;
  object-fit: cover;

}
#uppernav{
  /* width: 70vw; */
width:30%;
height:50px;
display: flex;
justify-content: flex-end;
align-items: center;
background-color:rgb(2, 1, 1);
font-size: 55px;
/* gap: 45px; */
}
@media (max-width:950px){
  #uppernav{
    min-width: 30%;
    background-color: rgb(0, 0, 0);
  }

    #uppernavcontroller{
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
#uppernav{
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
width: 40%;
}

}

a{
  text-decoration: none;
  color: wheat;
  font-size:50% ;
}

#four{
  margin-right: 2%;
}

#img{
  background-color:rgba(255, 127, 80, 0.852) ;
}

@media (min-width:800px){
  #uppernavcontroller{
    display:flex;
    justify-content: center;
  }

  #uppernav{
    width: 40%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #cover{
    width: 50%;
  }

}


@media(max-width:800px){
  #uppernavcontroller {
      display: flex;
      justify-content: center;
      justify-content: space-around;
    }
   #uppernav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
font-size: 42px;
width: 50%;
   }

#cover{
  width: 50%;
}
input{
  width: 70%;
}


}









@media (max-width:650px){
  #uppernav{
    width: 50%;
    background-color: rgb(0, 0, 0);
    gap:2px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
    
  
  }
  #cover{
    width: 50%;
  }


}
@media(max-width:550px){

 #uppernav{
/* font-size: 45px; */
/* gap: 20px; */
display: none;
 }
a{
  /* font-size: 55%; */
}

#cover {
  width: 60%;
  /* background-color: red; */
}
input{
  width: 80%;
}


}


@media(max-width:400px) {
  #uppernav {
    /* font-size: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 5px; */
    display: none;
  }
  
  a {
    /* font-size: 70%; */
    /* display: none; */
  }
  
}

.search-container{
  width: 100vw;
  min-height: 400px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.search-card {

height:380px;
width:  250px;
overflow: hidden;
border-radius: 12px;
background-color: #dadada;
/* display: flex; */
margin-top: 50px;


}

.search-img{
height: 280px;
width: 300px;

object-fit: cover;

}
