

*{
  margin: 0;
  padding: 0;

}



#homebargarkikahani{
  display: none;

}



#cover{
  width:40vw;
  height: 100%;
    background-color: #FFF2C6;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


#uppernavcontroller{
 max-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  background-color: #FFF2C6;
  align-items: center;
  
  border-bottom:2px solid transparent;
  overflow: hidden;
}
 input{
  background-color: #ffffff;
  width: 28vw;
  height: 35px;
  color: rgb(0, 0, 0);
  
  border-left: 2px solid #c6aaaa;
  border-bottom: 2px solid #c6aaaa;
  border-top: 2px solid #c6aaaa;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  
}
#button{
  height:30px ;
  width: 30px;
  border-radius: 15px;
  border: none;
  border-top-right-radius: 15px;
} 

img{
  width: 100%;
  height: 100%;
  border-top: 2px  solid #c6aaaa;
   border-right: 2px  solid #c6aaaa;
    border-bottom: 2px  solid #c6aaaa;
border-top-right-radius: 12px;
border-bottom-right-radius: 12px;
}
input:focus {
  outline: none;
}

#buttonsearch{
height: 35px;
width: 50px;
  object-fit: contain;
  border: none;
  overflow: hidden;
  background-color: transparent;
}

#searchimg{
width: 100%;
  height: 100%;
  object-fit: cover;

}
#uppernav{

width:30vw;
height:50px;
display: flex;
justify-content: flex-end;
align-items: center;
background-color: #FFF2C6;
font-size: 55px;
font-family: "Georgia", serif;
}
#uppernav a:hover{
  text-decoration: underline;

}

#loginid{
 min-height: 50px;
 min-width: 160px;
  /* background-color:rgb(114, 24, 24); */
  
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  overflow: hidden;


}
#form{
 min-width: 45%;
 height: 50px;
  
  /* margin: 4px; */
  /* background-color:rgb(198, 53, 53); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: "Georgia", serif;
  
}

#form:hover{
  text-decoration: underline;
}
@media (max-width:950px){
  #uppernav{
    min-width: 30%;
    background-color:  #FFF2C6;
  }

    #uppernavcontroller{
      display: flex;
      justify-content: center;
      justify-content: space-between;
    }
#uppernav{
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
width: 40%;
}

}

a{
  text-decoration: none;
  
  font-size:50% ;
}

#four{
  margin-right: 2%;
}

#img{
  background-color:rgba(255, 127, 80, 0.852) ;
}

@media (min-width:800px){
  #uppernavcontroller{
    display:flex;
    justify-content: center;
  }

  #uppernav{
    width: 40%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #cover{
    /* width: 50vw; */
  }

}


@media(max-width:800px){
  #loginid{
    display: none;
  }
  #uppernavcontroller {
      display: flex;
      justify-content: center;
      justify-content: space-around;
    }
   #uppernav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
font-size: 42px;
/* width: 50%; */
   }

#cover{
  width: 50%;
}
input{
  width: 70%;
}


}




#threedot{
display: none;
}


@media (max-width:650px){
  #loginid{
    display: none;
  }
  #uppernav{
    width: 50%;
    background-color:  #FFF2C6;
    gap:2px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
    
  
  }
  #cover{
    width: 50%;
  }


}
@media(max-width:550px){


#homebargarkikahani {
  height: 120px;
  width: 95%;
  background-color:wheat;

  display: flex;
  flex-direction: column;

  align-items: center;
  
  align-items: flex-end;

  font-size: 25px;
  margin-right: 20px;
}
#homebargarkikahani a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
}



  
 #uppernav{

display: none;
 }


#threedot {
  width: 40px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 

  background-color: white;

  cursor: pointer;
  
  padding: 5px;
}


#threedot span {
  width: 100%;
  height: 3px;
  background-color: rgb(0, 0, 0);
  border-radius: 2px;
  overflow: hidden;
}


#threedot span:hover {
  
  border: 0px solid yellow;
  
  box-shadow:
    5px 5px 15px rgb(239, 123, 10),
    -5px -5px 15px rgb(235, 223, 10);
}





#cover {
  width: 60%;
  
}
input{
  width: 80%;
}


}


@media(max-width:400px) {
  #uppernav {
    
    display: none;
  }
  
}

.search-container{
  width: 100vw;
  min-height: 400px;
  
  display: flex;
  justify-content: center;
}

.search-card {

height:380px;
width:  250px;
overflow: hidden;
border-radius: 12px;
background-color: #dadada;
margin-top: 50px;


}

.search-img{
height: 280px;
width: 300px;

object-fit: cover;

}

 

  