

*{
padding: 0;;
margin: 0;
/* box-sizing: 0; */

}


#card{
  height: 380px;
  width: 250px;
  margin-top: 80px;

  background-color: #FFF2C6;
  background-color: #0C2340;
    
  border-radius: 12px;
  /* gap:42px; */
}

#cardimg{
  height: 70%;
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 12px;
}

#carddetail{
  /* line-height: 15px; */
  height: 20%;
  width: 100%;
  margin-top: 8px;
  margin-left: 17px;
  /* border-radius: 12px; */
  background-color: #dadada;
  background-color: #ff9603dd;
  background-color: #FFF2C6;
  background-color: #0C2340;
  border-bottom-right-radius: 12px;
  color: white;
}

#card{
    transition: all 0.3s ease;
}

#card:hover{
    transform: translateY(-15px);

    box-shadow:
        0 0 15px #c82006,
        0 0 30px rgb(235,209,9);
}