

*{
padding: 0;;
margin: 0;
/* box-sizing: 0; */

}


#card{
  height: 380px;
  width: 250px;
  background-color: white;
  border-radius: 12px;
}

#cardimg{
  height: 70%;
  width: 100%;
  object-fit: cover;
  border: none;
  border-radius: 12px;

}
#carddetail{
  /* line-height: 15px; */
  height: 20%;
  width: 100%;
  margin-top: 8px;
  margin-left: 12px;
  background-color: white;
  border-bottom-right-radius: 12px;
}


#card:hover {
  /* box-shadow: inset 5px 5px 10px rgba(241, 103, 5, 0.208); */
  box-shadow: 5px 5px 15px rgb(236, 122, 30);

  /*    multiple shadow property  */
  box-shadow:
    5px 5px 15px rgb(239, 123, 7),
    -5px -5px 15px rgb(235, 223, 9);
  top: 70px
}